/* styles.css */
.rbc-allday-cell {
    display: none;
}



.rbc-timeslot-group {
    margin-bottom: 50px; /* Adjust this value to increase/decrease the space */
}




.rbc-time-view {
    border-radius: 15px;
    overflow: hidden; /* Add this line */
}

.rbc-event-label {
    display: none;
}

/* styles.css */
.rbc-event {
    border: none !important; /* Ensure there's no border */
    border-radius: 5px; /* Rounded corners */
    overflow: hidden; /* Ensures content does not bleed outside the border */
    padding: 0; /* Remove padding here and manage it inside the content if needed */
}

/* Apply background colors directly to the event classes */
.rbc-event--Scheduled,
.rbc-event--Completed,
.rbc-event--Cancelled,
.rbc-event--NoShow,
.rbc-event--NewInAppBooking,
.rbc-event--NewOnlineBooking,
.rbc-event--Arrived,
.rbc-event--Started {
    border-radius: 5px; /* Rounded corners for status-specific events */
    font-size: 0.8em; /* Smaller text size */
    color: #333; /* Text color */
}

/* Specific background colors */
.rbc-event--Scheduled { background-color: #f0f7ff !important; }
.rbc-event--Completed { background-color: #ff7f7f !important; }
.rbc-event--Cancelled { background-color: #7fff7f !important; }
.rbc-event--NoShow { background-color: #7f7fff !important; }
.rbc-event--NewInAppBooking { background-color: #ff7fff !important; }
.rbc-event--NewOnlineBooking { background-color: #ffff7f !important; }
.rbc-event--Arrived { background-color: #7fffff !important; }
.rbc-event--Started { background-color: #ff7f7f !important; }



.centered-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10; /* Adjust z-index as needed */
}

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px; /* Adjust based on your desired width */
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.drawer.open {
    transform: translateX(0);
}